{% extends "doclayout.html" %}
{% block body %}
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/med4.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h3>Welcome ,{{ user }}</h3>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Edit Patient Record</p>
          <form name="sentMessage" id="contactForm" action = "/editrecd" method="post" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Email id</label>
                <input type="email" class="form-control" placeholder="Enter email address of patient to view record" id="email" name='email' required data-validation-required-message="Please enter email id of patient">
                <p class="help-block text-danger"></p>
              </div>
            </div>
           
              <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Edit Record</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <table border="2">
  {% for item in data %}
<tr align="center">
    <td>{{item.0}}</td>
    <td>{{item.1}}</td>
    <td>{{item.2}}</td>
    <td>{{item.3}}</td>
    <td>{{item.4}}</td>
    <td>{{item.5}}</td>
    <td><a class="nav-link" href="/update1">  Edit </a></td>
{% endfor %}
</table>
{% endblock %}